$neutral-white: #ffffff;

$neutral-extra-light: #e6e6e6;

$neutral-light: #999999;

$neutral-medium: #666666;

$neutral-medium-dark: #4d4d4d;

$neutral-dark: #000000;



$sand-light: #ede3cb;

$sand-medium: #d3c198;

$sand-dark: #b6a57e;

$sand-extra-dark: #a99372;



$import-default: #ff774c;

$import-bin-1: #fed190;

$import-bin-2: #fdae61;

$import-bin-3: #ff774c;

$import-bin-4: #d71c27;

$import-bin-5: #a50026;



$export-default: #1c64b2;

$export-bin-1: #d6eaf6;

$export-bin-2: #9ecae1;

$export-bin-3: #5698cb;

$export-bin-4: #1c64b2;

$export-bin-5: #084594;



$category-1: #8bc09b;

$category-2: #57bb95;

$category-3: #329b9d;

$category-4: #277d90;

$category-5: #1e6172;


$accent: #fbb03b;

$explanation: #ff708a;