@import "./Colours.scss";

.SocialBar,
.playButton,
.mapPiece,
.paddLayout,
[tabindex] {
  cursor: pointer;
}

/* Don't use the pointer cursor for the legend */
.mapPiece.legend { cursor: inherit; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:focus, a:focus, a:active { outline: 2px solid $explanation; }
#workspace { outline: none; }

#popoverPortal {
  pointer-events: none;
}

.verticalAlign {
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  > .centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

/* Match what is in the WET template */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body { line-height: 1.4375; }
