@import "./Colours.scss";

.SocialBar,
.playButton,
.mapPiece,
.paddLayout,
[tabindex] {
  cursor: pointer;
}

/* Don't use the pointer cursor for the legend */
.mapPiece.legend { cursor: inherit; }

/* Safari */
@-webkit-keyframes import-export-spinner {
  0%,
  100% { -webkit-opacity: 0.1; }
  30% { -webkit-opacity: 1; }
}

@keyframes import-export-spinner {
  0%,
  100% { opacity: 0.1; }
  30% { opacity: 1; }
}

// reset the line height in the new CER template
#reactRoot {
	line-height: normal;
}

.containerOne {
  position: absolute;
  top: -webkit-calc(50% - .45em);
  top: calc(50% - .45em);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center
}

.containerTwo {
  position: absolute;
  top: -webkit-calc(50% - .45em);
  top: calc(50% - .45em);
  left: calc(50% - .45em);
  left: -webkit-calc(50% - .45em);
}

.circle-elements div {
  -webkit-animation: import-export-spinner 2.4s 0s infinite both ease-out;
  animation: import-export-spinner 2.4s 0s infinite both ease-out;
  margin: 0;
  padding: 0;
  top: calc(50% + 100px);
}

.circle-elements div:nth-child(1) {
  transform: translate(3em); animation-delay: 0s;
  animation-delay: 0s;
}

.circle-elements div:nth-child(2) {
  transform: rotate(45deg) translate(3em) rotate(-45deg);
  animation-delay: .3s;
}

.circle-elements div:nth-child(3) {
  transform: rotate(90deg) translate(3em) rotate(-90deg);
  animation-delay: .6s;
}

.circle-elements div:nth-child(4) {
  transform: rotate(135deg) translate(3em) rotate(-135deg);
  animation-delay: .9s;
}

.circle-elements div:nth-child(5) {
  transform: translate(-3em);
  animation-delay: 1.2s;
}

.circle-elements div:nth-child(6) {
  transform: rotate(225deg) translate(3em) rotate(-225deg);
  animation-delay: 1.5s;
}

.circle-elements div:nth-child(7) {
  transform: rotate(270deg) translate(3em) rotate(-270deg);
  animation-delay: 1.8s;
}

.circle-elements div:nth-child(8) {
  transform: rotate(315deg) translate(3em) rotate(-315deg);
  animation-delay: 2.1s;
}

.import {
  background-color: rgb(255, 119, 76);
}

.export {
  background-color: rgb(28, 100, 178);
}    

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: .9em; height: .9em;
  position: absolute;
  top: calc(50% - .45em); 
  left: calc(50% - .45em);
}

:focus, a:focus, a:active { outline: 2px solid $explanation; }
#workspace { outline: none; }

#popoverPortal {
  pointer-events: none;
}

.verticalAlign {
  height: 100%;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  > .centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

/* Match what is in the WET template */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body { line-height: 1.4375; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

.crudeTriangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  margin-top: 0px;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #666 transparent transparent;
}
.confidentialSpacing {
  padding-top:4px;
}

.cofidentialTooltip {
    position: relative;
}

.cofidentialTooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: white;
    text-align: center;
    border:#999 1px solid;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.cofidentialTooltip .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
