@import "./Colours.scss";
@import "./FontVariables.scss";


// NB: The fonts stylesheet only needs to be imported into the project once, 
// at the root. If you want to use font variables, import FontVariables.scss
// instead.

@font-face {
  font-family: "FiraSansCondensed";
  src:url("fonts/FiraSansCondensed-Regular.eot");
  src:url("fonts/FiraSansCondensed-Regular.eot") format("eot"),
      url("fonts/FiraSansCondensed-Regular.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-Regular.woff") format("woff"),
      url("fonts/FiraSansCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansCondensedMedium";
  src:url("fonts/FiraSansCondensed-Medium.eot");
  src:url("fonts/FiraSansCondensed-Medium.eot") format("eot"),
      url("fonts/FiraSansCondensed-Medium.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-Medium.woff") format("woff"),
      url("fonts/FiraSansCondensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansCondensedSemibold";
  src:url("fonts/FiraSansCondensed-SemiBold.eot");
  src:url("fonts/FiraSansCondensed-SemiBold.eot") format("eot"),
      url("fonts/FiraSansCondensed-SemiBold.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-SemiBold.woff") format("woff"),
      url("fonts/FiraSansCondensed-SemiBold.ttf") format("truetype");
}


.headingBase {
  font-family: $fira-sans-condensed-semibold;
  font-size: 21px;
  color: $neutral-medium;
  margin: 0.5em 0 0 0;
  padding: 0;
  display: inline-block;
}

.headingImports {
  font-family: $fira-sans-condensed-semibold;
  font-size: 21px;
  color: $import-default;
  display: inline-block;
}

.headingExports {
  font-family: $fira-sans-condensed-semibold;
  font-size: 21px;
  color: $export-default;
  display: inline-block;
}

.subheading {
  font-family: $fira-sans-condensed;
  font-size: 12px;
  color: $neutral-medium-dark;
  margin: 0.0 0 0 3.75em;
  padding: 0;
}

.resetLabel {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  fill: $neutral-medium;
}

.theLegendHeading {
  font-family: $fira-sans-condensed-medium;
  font-size: 20px;
  fill: $neutral-medium-dark;
  text-align: center;
}

.theLegendValues {
  font-family: $fira-sans-condensed;
  font-size: 20px;
  fill: $neutral-medium;
  text-align: left;
}

.mapPieceText {
  font-family: FiraSansCondensed-Regular;
  font-size: 13px;
  stroke: #666666;
}
