@import "./Colours.scss";
@import "./FontVariables.scss";


// NB: The fonts stylesheet only needs to be imported into the project once, 
// at the root. If you want to use font variables, import FontVariables.scss
// instead.

@font-face {
  font-family: "FiraSansCondensed";
  src:url("fonts/FiraSansCondensed-Regular.eot");
  src:url("fonts/FiraSansCondensed-Regular.eot") format("eot"),
      url("fonts/FiraSansCondensed-Regular.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-Regular.woff") format("woff"),
      url("fonts/FiraSansCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansCondensedMedium";
  src:url("fonts/FiraSansCondensed-Medium.eot");
  src:url("fonts/FiraSansCondensed-Medium.eot") format("eot"),
      url("fonts/FiraSansCondensed-Medium.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-Medium.woff") format("woff"),
      url("fonts/FiraSansCondensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSansCondensedSemibold";
  src:url("fonts/FiraSansCondensed-SemiBold.eot");
  src:url("fonts/FiraSansCondensed-SemiBold.eot") format("eot"),
      url("fonts/FiraSansCondensed-SemiBold.woff2") format("woff2"),
      url("fonts/FiraSansCondensed-SemiBold.woff") format("woff"),
      url("fonts/FiraSansCondensed-SemiBold.ttf") format("truetype");
}


.headingBase {
  font-family: $fira-sans-condensed-semibold;
  font-size: 21px;
  color: $neutral-medium;
  margin: 0.5em 0 0 0;
  padding: 0;
  display: inline-block;
}

.headingImports {
  font-family: $fira-sans-condensed-semibold;
  font-size: 21px;
  color: $import-default;
  display: inline-block;
}

.headingExports {
  font-family: $fira-sans-condensed-semibold;
  font-size: 21px;
  color: $export-default;
  display: inline-block;
}

.subheading {
  font-family: $fira-sans-condensed;
  font-size: 12px;
  color: $neutral-medium-dark;
  margin: 0.0 0 0 3.75em;
  padding: 0;
}

.resetLabel {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  fill: $neutral-medium;
}

.theLegendHeading {
  font-family: $fira-sans-condensed;
  font-size: 15px;
  fill: $neutral-medium-dark;
}

.theLegendValues {
  font-family: $fira-sans-condensed;
  font-size: 10px;
  fill: $neutral-medium;
  text-align: left;
}

.showHideConfidentiality {
  font-family: $fira-sans-condensed;
  font-size: 14px;
}

.showHideExplanations {
  font-family: $fira-sans-condensed;
  font-size: 14px;
}

.selectableDropdown {
  font-family: $fira-sans-condensed-semibold;
  fill: $neutral-medium;
  font-size: 13px; 
}

.visSelect {
  font-family: $fira-sans-condensed-semibold;
  font-size: 13px; 
  fill: white;
}

.visSelectOfText {
  font-family: $fira-sans-condensed;
  font-size: 13px;
}

.bodyText {
  font-family: $fira-sans-condensed;
  fill: $neutral-light;
  font-size: 13px;
}

.mapPieceText {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  fill: $neutral-medium;
}

.powerPoolLabel {
  font-family: $fira-sans-condensed;
  font-size: 14px;
  fill: $neutral-light;
}

.timelineLabel {
  font-family: $fira-sans-condensed;
  font-size: 11px;
  fill: $neutral-light;
  text-align: center;
}

.explanationLabel {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  fill: $neutral-light;
}

.explanationText {
  font-family: $fira-sans-condensed;
  font-size: 11px;
  color: $explanation;
}

.imageDownloadHeading {
  font-family: $fira-sans-condensed;
  font-size: 22px;
  color: $neutral-medium;
}

.saveImage {
  font-family: $fira-sans-condensed;
  font-size: 18px;
  color: $neutral-medium;
}

.bitlyText {
  font-family: $fira-sans-condensed;
  fill: $neutral-light;
  font-size: 13px;
}

.aboutHeading {
  font-family: $fira-sans-condensed;
  font-size: 16px;
  color: $neutral-medium-dark;
  margin-left: 25px;
  margin-top: 25px;
}

.aboutSubheading {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  fill: $neutral-medium-dark;
  margin-left: 25px;
}

.socialBarText {
  font-family: $fira-sans-condensed;
  font-size: 13px;
  fill: $neutral-medium;
  margin-left: 25px;
}

.aboutBodyText {
  font-family: $fira-sans-condensed;
  font-size: 11px;
  color: $neutral-medium;
  margin-left: 25px;
}

.subtext {
  font-family: $fira-sans-condensed;
  font-size: 11px;
  color: $neutral-medium;
  margin-left: 25px;
}

.detailBreakDown {
  .header{
    &.imports {
      font-size: 12PX;
      font-family: $fira-sans-condensed-semibold;
    }
    &.exports {
      font-size: 12PX;
      font-family: $fira-sans-condensed-semibold;
    }
  }
  .detailBreakDownText {
    font-size: 11PX;
    font-family: $fira-sans-condensed;
  }
  
}

#detailSidebar {
  font-family: $fira-sans-condensed;
  font-size: 11px;
  color: $neutral-light;

  .chartOptions a {
    font-family: $fira-sans-condensed-medium;
    color: $neutral-medium;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }

  .detailTotal {
    font-family: $fira-sans-condensed;
    font-size: 12px;
    color: $neutral-dark;

    .totalType {
      font-family: $fira-sans-condensed-semibold;
    }
  }
}
.paddArrowCanadaFonts{
  font-family:$fira-sans-condensed;
  font-size:15px;
  fill:#666;
}
.paddArrowUSFonts{
  font-family:$fira-sans-condensed;
  font-size:15px;
  fill:#666;
}
.explanationBottomText{
  font-family:$fira-sans-condensed;
  font-size:15px;
  fill:#666;
}
.explanationTopText{
  font-family:$fira-sans-condensed;
  font-size:15px;
  fill:#666;
}
.portLabel{
  font-family: $fira-sans-condensed;
  color: $neutral-medium;
  font-size:9px;
}

.portProvinceLabel{
  font-family: $fira-sans-condensed-semibold;
  color: $neutral-medium;
  font-size:16px;
}