@import "../styles/Colours.scss";

.chartScaleLinked {
  float: left;
  height: 100%;
  margin-top: -156px;
  > svg { margin: 0 4px 0 0; }
  > div { float: right; }
}

.chartOptions {
  float: right;
  margin-top: -155px;
  height: 100%;
}

.detailGroupToggle {
  float: left;
}

.detailBarArrow {
  height: 100%;
  width: 5px;
  margin-left: 4px;
  float: right;
  background-color: $neutral-medium;
}
