 @import '../styles/Colours';

.detailTotal {
  .totalType { font-weight: bold; }

  .detailText {
    background: #fff;
    width: calc(100% - 40px);
    display: inline-block;
  }

  .percentage {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 40px;
  }

  &.imports {
    padding-top: 2px;
    &, .percentage {
          height: 12px; 
          line-height: 1; 
          background: $import-default; 
        }
    .totalType { color: $import-default; }
  }
  &.exports {
    padding-bottom: 15px;
    &, .percentage {
          height: 12px; 
          line-height: 1;
          background: $export-default; 
        }
    .totalType { color: $export-default; }
  }

  .detailBreakDownContainer {
    width: 40px;
    display: inline-block;
    height: 13px;
    overflow: visible;
    vertical-align: top;
    background: #fff;

    .percentage-bar {
      width: 40px;
      right: auto;
      margin-top: auto;
    }
  }
	&.exports .detailBreakDownContainer .percentage-bar { margin-top: 1px; }
}
