@import '../styles/Colours';

.detailTotal {
  .totalType { font-weight: bold; }

  .detailText {
    padding-left: 2px;
    background: #fff;
    width: calc(100% - 40px);
    display: inline-block;
  }

  .percentage {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 40px;
  }

  &.imports {
    padding-top: 2px;
    &, .percentage { background: $import-default; }
    .totalType { color: $import-default; }
  }
  &.exports {
    padding-bottom: 2px;
    &, .percentage { background: $export-default; }
    .totalType { color: $export-default; }
  }
}
