@import '../styles/Colours';

.detailBreakDown {
  width:100%;
  .header { 
    padding-bottom: 4px;
  }
  .detailBreakDownContainer{
    overflow: auto;
    overflow-x: hidden;
    display:block;
  }
  .detailBreakDownText {
    padding: 0 0 4px 2px;
    margin-right: 20px;
    background: #fff;
  }
  .progress-bar {
    background-color: $sand-medium;
    width: 40px;
    position: relative;
    float: right;
  }
    
  .progress-bar > span {
    height: 12px;
    display: block;
  }
}
