
.back {
  fill: transparent;
}

@keyframes fadeOutDot { 
  from { 
    opacity: 1; 
    transform: scale(1);
  } to 
  { 
    opacity: 0;  
    transform: scale(3);
  } 
}

@keyframes expandDot { 
  from { 
    transform: scale(1);
  } to 
  {
    transform: scale(1.5);
  } 
}

//.explanationDot {
  
  .pulse {
    cursor: pointer;
    animation: 1.5s ease-in-out 0s 2 normal fadeOutDot;
 // }
}

