@import "../styles/Colours.scss";
@import "../styles/Fonts.scss";

.leftHeader {
  position: absolute;
  margin-top: 13.5px;
  max-width: 80%;
}

.importsLink {
  position: absolute;
  top: 65px;
  margin-top: 17px
}

.metaBarBackground {
  fill: white;
}

.metaBarButton {
  cursor: pointer;
}

.resetLabel {
  cursor: pointer;
}
