@import "../styles/Colours.scss";
@import "../styles/Fonts.scss";

.leftHeader {
  position: absolute;
  margin-top: 13.5px;
  max-width: 80%;
}

.importsLink {
  margin-top: -8px;
}

.metaBarBackground {
  fill: white;
}

.metaBarButton {
  cursor: pointer;
}

.resetLabel {
  cursor: pointer;
}