@import "../styles/Colours.scss";
@import "../styles/Fonts.scss";

.leftHeader {
  position: absolute;
  margin-top: 33.5px;
  max-width: 80%;
}

.metaBarBackground {
  fill: $neutral-extra-light;
}

.metaBarButton {
  cursor: pointer;
}

.resetLabel {
  cursor: pointer;
}