
.imageDownloadWindow {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:550px;
  height: 620px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.closeButton {
  float: right;
  width: 10px;
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
}

.imagePreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 388px;
  border: 1px solid #666666;
}

.saveImage {
  cursor: pointer;
  margin-left: 25px;
  margin-top: 510px;
}

.imageDownloadHeading {
  margin-left: 25px;
  margin-top: 25px;
}

.bitlyText {
  position: absolute;
  top: 78%;
  right: 12%;
}