@import "../styles/Colours.scss";

.legendContainer {
  cursor: default;
  position: relative;
}

.importColumn {
  cursor: default;
  position: relative;
}

.exportColumn {
  cursor: default;
  position: relative;
}
