.menuGroup {
  .bold {
    font-family: "FiraSansCondensedSemibold", sans-serif;
    fill: #666;
    font-size: 14px;
  }

  font-family: "FiraSansCondensed", sans-serif;
  fill: #999;
  font-size: 14px;
  dominant-baseline: central;

  .menuOption, .uppercase {
    text-transform: uppercase;
  }

  .menuOption .prefix {
    text-transform: none;
    font-family: "FiraSansCondensed", sans-serif;
    fill: #999;
  }
}
